div#dropbox {
	width: 500px;
	height: 500px;
	border: 2px solid #DDD;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	background-color: #FEFFEC;
	text-align: center;
	color: #BBB;
}
.half {
	width: 500px;
}
.center {
	margin: 0 auto;
}
.res {
	display: block;
	width: 100%;
	border: 2px solid black;
	padding: 10px;
	margin: 10px 0;
}